/*
	Name: Jack Steel
	File: styles.css
	Date: 9/13/24
*/

/*CSS Reset*/
body, header, nav, main, footer, img, h1, h2, h3 {
	margin: 0;
	padding: 0;
	border: 0;
}

/*Body and image rules*/
body{
	background-color: #5e41f0;
}

img{
	max-width: 100%;
	display: block;
}

/*Header rules*/
header{
	color: white;
	text-align: center;
	padding: 1%;
}

/*Nav styles*/
nav{
	background-color: #25118c;
}

nav ul{
	margin: 0;
	text-align: center;
}

nav li{
	display: inline-block;
	font-size: 2em;
	font-family: Courier, Arial, sans-serif;
	font-weight: bold;
}

nav li a{
	display: block;
	color: #ffffff;
	padding-top: .5em;
	padding-bottom: .5em;
	padding-left: 2em;
	padding-right: 2em;
	text-decoration: none;
}

/*Main styles*/
main{
	font-family: Georgia, Arial, sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #ffffff;
}

#bitmoji{
	width: 45%;
	float: left;
	padding: 2%;
}

#bitmoji img{
	width: 70%
}

#introduction{
	width: 40%;
	float: right;
	padding: 2%;
}

#about h2{
	clear: both;
	padding: 1%;
	text-align: center;
}

#cedarPoint{
	width: 40%;
	float: left;
	padding: 2%;
}

#cedarPoint img{
	width: 95%;
}

#hobbies{
	width: 45%;
	float: right;
	padding: 2%;
}

#projects{
	padding: 1%;
}

#contact{
	padding: 1%;
	text-align: center;
}


#email{
	clear: both;
	width: 45%;
	padding: 2%;
	float: left;
	text-decoration: none;
	text-align: center;
}

.map{
	width: 45%;
	padding: 2%;
	float: right;
	border: 0;
}

.external{
	clear: both;
	text-decoration: none;
	color: white;
}

/*Footer styles*/
footer{
	clear: both;
	display: block;
	background-color: #25118c;
	font-size: .75em;
	text-align: center;
	color: #fff;
	padding: 1%;
}

footer p a{
	color: #fff;
	text-decoration: none;
}