/*
	Name: Jack Steel
	File: styles.css
	Date: 9/13/24
*/

/*CSS Reset*/
body, header, nav, main, footer, img, h1, h2, h3, section, article, aside {
	margin: 0;
	padding: 0;
	border: 0;
}

/*Body and image rules*/
body{
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(88,9,121,1) 34%, rgba(34,43,175,1) 65%, rgba(6,111,194,1) 100%);
}

img{
	max-width: 100%;
	display: block;
}

/*Header rules*/
header{
	padding-top: 1%;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	color: white;
	text-align: center;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*Style rules for hamburger menu*/
.mobile-nav a{
	color: #fff;
	font-family: 'Francois One', sans-serif;
	text-align: center;
	font-size: 2em;
	text-decoration: none;
	padding: 3%;
	display: block;
}

.mobile-nav a.menu-icon{
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}

/* Show mobile class, hide tablet-desktop class and menu-links id */
.mobile{
	display:block;
}

.tablet-desktop, #menu-links, .tablet-desktop-nav{
	display: none;
}

/*Main styles*/
main{
	font-family: Georgia, Arial, sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #ffffff;
}

#bitmoji{
	width: 45%;
	float: left;
	padding: 2%;
}

#bitmoji img{
	width: 70%
}

#introduction{
	width: 40%;
	float: right;
	padding: 2%;
}

#about h2{
	clear: both;
	padding: 1%;
	text-align: center;
}

.frame{
	position: relative;
	max-width: 450px;
	margin: 2% auto;
}

.pic-text{
	position: absolute;
	bottom: 0;
	background: rgba(0, 0, 0, .5);
	color: #fff;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-family: "Playwrite DE Grund", Georgia, Verdana, serif;
	font-size: 1.5em;
}

#hobbies{
	padding-left: 1%;
	text-align: left;
}



#projects{
	padding: 1%;
}

h2{
	text-align: center;
}

#contact{
	padding: 1%;
	text-align: center;
}

.external{
	clear: both;
	text-decoration: none;
	color: white;
}

#skiing{
	margin: auto;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	background: radial-gradient(#589afc, #3363ab);
	background-color: #f2f2f2;
	padding: 1% 2%;
}

#skiing ol{
	padding-left: 5%;
}

/*Styles for favorite page*/
.movie{
	width: 30%;
	float: left;
	margin: 0;
	padding-left: 20%;
}

.movie h3{
	text-align: center;
	padding: .5em;
}

.video-game{
	width: 40%;
	margin: 0;
	float: right;
	padding: 3%;
}

.video-game h3{
	padding: .5em;
	text-align: center;
}

/*Footer styles*/
footer{
	clear: both;
	display: block;
	border: 1px solid black;
	font-size: .75em;
	text-align: center;
	background: radial-gradient(#700ec1, #5a4fd0);
	color: #fff;
	padding: 1%;
}

footer p a{
	color: #fff;
	text-decoration: none;
}


/*Media Query for tablet viewport*/
@media screen and (min-width:630px), print{
	.mobile, .mobile-nav{
		display: none;
	}

	.tablet-desktop{
		display: block;
	}

	.tablet-desktop-nav{
		display: inline-block;
	}

	header{
		position: static;
		padding-bottom: 2%; 
	}

	/*Style Rules for Nav*/ 
	nav {
		background-color: rgba(208, 119, 199, 0.462);
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		display: inline-block;
		border: 2px solid #EBECF1;
		border-radius: 30px;
		animation: slide-in 1s ease-out;
	  }
	  
	  ul {
		position: relative;
		display: flex;
		flex: 1 1 auto;
		margin: 0;
		padding: 0 30px;
		list-style-type: none;
		li:not(:last-child) {
		  margin-right: 40px;
		}
		li {
		  border: 2px solid transparent;
		  border-radius: 5px;
		  padding: 10px;
		  transition: background 0.2s;
		  a {
			color: #ffffff;
			text-decoration: none;
			text-transform: uppercase;
			transition: color 0.2s;
		  }
		  ul {
			visibility: hidden;
			opacity: 0;
			position: absolute;
			display: block;
			margin: 12px -12px;
			padding: 0;
			background: #FFA91B;
			border: 2px solid #F7C833;
			border-right: 2px solid #F89329;
			border-bottom: 2px solid #F89329;
			border-radius: 5px;
			transition: opacity 0.2s, visibility 0.2s;
			li {
			  margin: -2px 0 0 -2px;
			  width: calc(100% - 20px);
			  line-height: 1.7;
			  a {
				color: #2375D8;
			  }
			}
		  }
		  &:hover {
			background: #1a60aa;
			border: 2px solid #1a60aa;
			border-right: 2px solid #074a91;
			border-bottom: 2px solid #074a91;
			a {
			  color: #F9F8FD;
			}
			ul {
			  visibility: visible;
			  opacity: 1;
			  box-shadow: 0px 3px 5px 2px #EBECF1;
			  li {
				a {
				  color: #F9F8FD;
				}
			  }
			}
		  }
		}
	  }
	  
	  @keyframes slide-in {
		0% {
		  top: -50px;
		}
		40% {
		  top: 20px;
		}
		70% {
		  top: 10px;
		}
		100% {
		  top: 15px;
		}
	  }

	#cedarPoint{
		width: 40%;
		float: left;
		padding: 2%;
	}

	#hobbies{
		width: 45%;
		float: right;
		padding: 2%;
	}

	#hobbies table, #hobbies tr, #hobbies th, #hobbies td{ /*Positions the border*/
		border-collapse: collapse;
		padding: 2%;
		margin-top: 2%;
	}
	
	#hobbies th, #hobbies td{ /*Adds a border between the rows*/
		border: 1px solid #71881b;
		text-align: center;
	}
	
	#hobbies td{ /*Centers the text*/
		text-align: center;
	}

	#contact iframe{
		margin: auto;
		width: 30%;
		border: 5px solid #964fd0;;
	}

	#ski{
		height: 200px;
		width: auto;
		margin: auto;
	}

	.tbl{
		padding-bottom: 2%;
	}

	#projects caption{
		color: white;
		font-weight: bold;
		font-size: 2.5em;
		padding: 1%;
	}
	
	#projects{
		background-color: rgb(16, 0, 193);
		width: 90%;
		top: 0;
		bottom: 0;
		margin-left: auto;
		margin-right: auto;
		border: 5px solid #044e64;
		box-shadow: 10px 10px 10px #022b53;
	}
	
	#projects, #projects tr, #projects th, #projects td{ /*Positions the border*/
		border-collapse: collapse;
		padding: 2%;
		margin-top: 2%;
	}
	
	#projects table, #projects tr, #projects th, #projects td{ /*Positions the border*/
		border-collapse: collapse;
		padding: 2%;
		margin-top: 2%;
	}
	
	#projects td{ /*Adds a border between the rows*/
		border: 1px solid #0255a2;
	}

	#projects td a{
		font-weight: normal;
		color: white;
		text-align: center;
	}

	#projects td:hover{
		background-color: #9344e1;
	}
	
	#projects tr:nth-child(odd){ /*Changes the color for every other row*/
		background-color: #277715;
	}
	
	#projects th{
		border: 1px solid white;
		background-color: #03552f;
		color: white;
		font-size: .75em;
	}
}

/*Media Query for desktop viewport*/
@media screen and (min-width: 1921px) {
	.mobile{
		display: none;
	}

	.tablet-desktop{
		display: block;
	}
}